<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 设置高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b38166e79d6f8bd23889958cad099b0b" />

        <activity android:name="com.example.gddemo.ui.typhoonNameListActivity" >
        </activity>
        <activity android:name="com.example.gddemo.ui.searchWithDateNameActivityhWithDateNameActivity" >
        </activity>
        <activity
            android:name="com.example.gddemo.ui.showTyphoonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensor" >
        </activity>
        <activity android:name="com.example.gddemo.ui.listActivity" >
        </activity>
        <activity android:name="com.example.gddemo.ui.searchWithDateOnlyActivity" >
        </activity>
        <activity android:name="com.example.gddemo.ui.searchWithNameOnlyActivity" >
        </activity>
        <activity android:name="com.example.gddemo.ui.searchModeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>